body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: black;
}

* {
    padding: 0;
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #47663B;
    
  }
  
  nav ul {
    display: flex;
    list-style: none;
    transform: translateY(10%);
  }
  
  nav li {
    padding-left: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(31, 69, 41);
  }

  nav h2{
    color:rgb(71, 102, 59);
  }

  header {
    background-color: #48e24f;
    padding: 20px 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hd.jpg");
    background-size: cover; 
    background-position: center; 
    background-color: #48e24f;
    backdrop-filter: blur(10px); 
    padding: 20px 0;
    height: 300px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #6eb180;
  }
  
  header p {
    font-size: 1.2em;
    color: #a2aeb9;
  }

header, .search{
  padding: 20px;
}

.search, input{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  border:none;
}

.search{
  gap: 20px;
}

input{
  width: 50%;
}

header button{
  background-color: rgb(31, 69, 41);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

button:hover{
  background-color: #f8f9fa;
  color: black;
  transition: 1s;
}

article {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: center; 
  gap: 20px;
  padding: 20px;
}

.food-item {
  border: 1px solid #ffffff; 
  border-radius: 5px;
  padding: 15px;
  text-align: center;  
  width: 300px; 
  color: rgb(0, 0, 0);
  background-color: rgb(69, 114, 63);
}

.food-item img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
}




